* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Light.eot");
  src: local("Gilroy Light"), local("Gilroy-Light"), url("../fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Light.woff2") format("woff2"), url("../fonts/Gilroy-Light.woff") format("woff"), url("../fonts/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.eot");
  src: local("Gilroy Regular"), local("Gilroy-Regular"), url("../fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.eot");
  src: local("Gilroy Medium"), local("Gilroy-Medium"), url("../fonts/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Semibold.eot");
  src: local("Gilroy Semibold"), local("Gilroy-Semibold"), url("../fonts/Gilroy-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Semibold.woff2") format("woff2"), url("../fonts/Gilroy-Semibold.woff") format("woff"), url("../fonts/Gilroy-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.eot");
  src: local("Gilroy Bold"), local("Gilroy-Bold"), url("../fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/*-------*/
body {
  font-family: "Gilroy";
  font-weight: normal;
  font-style: normal;
  color: #242424;
  font-size: 16px;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

.header {
  background: #e5e5e5;
}

/*-------------------*/
@media (max-width: 1023px) {
  .header__burger {
    font-size: 0;
    margin: 34px 0 0 0;
    position: absolute;
    z-index: 5;
    width: 30px;
    height: 20px;
  }
  .header__burger button,
  .header__burger::after,
  .header__burger::before {
    background: #242424;
    width: 100%;
    height: 10%;
    position: absolute;
    left: 0;
  }
  .header__burger::after {
    content: "";
    bottom: 0;
  }
  .header__burger::before {
    content: "";
    top: 0;
  }
  .header__burger button {
    bottom: 50%;
    -webkit-transform: scale(1) translate(0px, 50%);
            transform: scale(1) translate(0px, 50%);
  }
}

.header__burger button {
  font-size: 0;
}

/*-------------------*/
.header__body {
  min-height: 834px;
  position: relative;
}

@media (max-width: 1269px) {
  .header__body {
    min-height: 642px;
  }
}

@media (max-width: 1023px) {
  .header__body {
    min-height: 535px;
  }
}

/*----------------------*/
@media (max-width: 1023px) {
  .header__burger {
    width: 30px;
    height: 20px;
    z-index: 5;
    position: relative;
  }
}

.header__burger button {
  font-size: 0;
}

/*----------------------*/
.header__image {
  background: url(../img/header/dog.png) top right no-repeat;
  position: absolute;
  height: 716px;
  width: 100%;
}

@media (max-width: 1269px) {
  .header__image {
    height: 564px;
    width: 504px;
    background-size: auto 100%;
    right: 0;
  }
}

@media (max-width: 1023px) {
  .header__image {
    height: 385px;
    width: 344px;
  }
}

.container {
  max-width: 1150px;
  margin: 0 auto;
}

@media (max-width: 1269px) {
  .container {
    max-width: 804px;
  }
}

@media (max-width: 1023px) {
  .container {
    max-width: 548px;
  }
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
}

@media (max-width: 1023px) {
  .header__menu {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1023px) {
  .menu__list {
    display: none;
  }
}

.menu__link {
  margin: 54px 30px 0 0;
  z-index: 2;
}

.menu__list-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1023px) {
  .menu__list-info {
    display: none;
  }
}

.menu__list-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 97px 0 0;
  z-index: 2;
}

@media (max-width: 1023px) {
  .menu__list-icon {
    margin: 0 47px 0 0;
  }
}

.menu__icon {
  display: block;
  width: 49px;
  height: 49px;
  border: 2px solid #fff;
  border-radius: 50%;
  margin: 39px 0 0 28px;
  position: relative;
}

@media (max-width: 1023px) {
  .menu__icon {
    width: 40px;
    height: 40px;
    margin: 24px 0 0 28px;
  }
}

.icon-vk img {
  position: absolute;
  bottom: 11px;
  right: 8px;
}

@media (max-width: 1023px) {
  .icon-vk img {
    bottom: 10px;
    right: 7px;
    width: 24.5px;
  }
}

.icon-in img {
  position: absolute;
  bottom: 9px;
  left: 9px;
}

@media (max-width: 1023px) {
  .icon-in img {
    width: 22px;
    bottom: 7px;
    left: 7px;
  }
}

.header__title {
  font-weight: bold;
  font-size: 72px;
  line-height: 87px;
  margin: 76px 0 2px 0;
  z-index: 5;
  position: relative;
}

@media (max-width: 1269px) {
  .header__title {
    font-size: 64px;
    line-height: 77px;
    margin: 33px 0 0 0;
  }
}

@media (max-width: 1023px) {
  .header__title {
    font-size: 42px;
    line-height: 51px;
    margin: 12px 0 0 0;
  }
}

.button__yellow {
  background: #fbc832;
  border-radius: 58px;
  width: 182px;
  height: 42px;
  text-align: center;
  z-index: 2;
}

.btn {
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  color: #000;
}

.header__icon {
  border-radius: 50%;
  border: 2px solid #ffffff;
  display: block;
}

h1 {
  color: #6b6b6b;
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  z-index: 5;
  position: relative;
}

@media (max-width: 1269px) {
  h1 {
    font-size: 14px;
    line-height: 16px;
  }
}

@media (max-width: 1023px) {
  h1 {
    max-width: 311px;
    font-size: 14px;
    line-height: 16px;
  }
}

.header__text {
  margin: 12px 0 0 0;
  font-weight: 600;
  color: #474747;
  line-height: 140%;
  max-width: 659px;
  z-index: 5;
  position: relative;
}

@media (max-width: 1269px) {
  .header__text {
    font-size: 14px;
    max-width: 461px;
  }
}

@media (max-width: 1023px) {
  .header__text {
    max-width: 311px;
    font-size: 14px;
    line-height: 140%;
    margin: 8px 0 0 0;
  }
}

.header__text-yellow {
  margin: 43px 0 44px 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #c78100;
  max-width: 428px;
}

@media (max-width: 1269px) {
  .header__text-yellow {
    font-size: 20px;
    line-height: 24px;
    max-width: 300px;
  }
}

@media (max-width: 1023px) {
  .header__text-yellow {
    max-width: 204px;
    font-size: 16px;
    line-height: 19px;
    margin: 40px 0 44px 0;
  }
}

.discription__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 54px 0;
}

@media (max-width: 1269px) {
  .discription__body {
    margin: 36px 0;
  }
}

@media (max-width: 1023px) {
  .discription__body {
    margin: 24px 0;
  }
}

.discription__row {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.discription__animals {
  background: #fac832;
  height: 521px;
  border-radius: 0 260px 260px 0;
  position: relative;
  margin: 0 94px 0 0;
}

@media (max-width: 1269px) {
  .discription__animals {
    height: 362px;
    border-radius: 0 182px 182px 0;
  }
}

@media (max-width: 1023px) {
  .discription__animals {
    height: 273px;
    border-radius: 0 136.5px 136.5px 0;
  }
}

.discription__animals-dog {
  width: 100%;
  height: 100%;
  position: relative;
}

.discription__animals-dog img.discription__dog {
  position: absolute;
  right: 29px;
  top: 29px;
}

@media (max-width: 1269px) {
  .discription__animals-dog img.discription__dog {
    height: 322px;
    top: 21px;
    right: 21px;
  }
}

@media (max-width: 1023px) {
  .discription__animals-dog img.discription__dog {
    height: 244px;
    top: 14px;
    right: 14px;
  }
}

.discription__animals-cat {
  border-radius: 50%;
  border: #fac832 solid 8px;
  position: absolute;
  bottom: -20px;
  right: -29px;
}

@media (max-width: 1269px) {
  .discription__animals-cat {
    border: #fac832 solid 6px;
  }
}

@media (max-width: 1023px) {
  .discription__animals-cat {
    border: #fac832 solid 4.5px;
  }
}

@media (max-width: 1269px) {
  .discription__animals-cat img.discription__cat {
    height: 158px;
  }
}

@media (max-width: 1023px) {
  .discription__animals-cat img.discription__cat {
    height: 120px;
  }
}

.discription__content {
  width: 466px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 1269px) {
  .discription__content {
    width: 323px;
  }
}

@media (max-width: 1023px) {
  .discription__content {
    width: 264px;
  }
}

.discription__title {
  margin: 74px 0 28px 0;
  font-weight: 600;
  font-size: 28px;
  line-height: 120%;
  color: #c78100;
  text-align: center;
}

@media (max-width: 1269px) {
  .discription__title {
    margin: 31px 0 24px 0;
    font-size: 24px;
  }
}

@media (max-width: 1023px) {
  .discription__title {
    margin: 31px 0 24px 0;
    font-size: 20px;
  }
}

.discription__text {
  line-height: 140%;
}

@media (max-width: 1023px) {
  .discription__text {
    font-size: 14px;
  }
}

.how-help {
  background: #e5e5e5;
}

.how-help__content {
  text-align: center;
}

.how-help__title {
  display: block;
  padding: 80px 0 47px 0;
  font-weight: 300;
  font-size: 28px;
  line-height: 24px;
}

@media (max-width: 1269px) {
  .how-help__title {
    padding: 64px 0 32px 0;
    font-size: 24px;
  }
}

@media (max-width: 1023px) {
  .how-help__title {
    padding: 64px 0 0 0;
  }
}

.how-help__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0 79px 0;
}

@media (max-width: 1269px) {
  .how-help__row {
    padding: 0 0 75px 0;
  }
}

@media (max-width: 1023px) {
  .how-help__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 0 56px 0;
  }
}

@media (max-width: 1023px) {
  .how-help__item {
    margin: 32px 0 0 0;
  }
}

.how-help__item-img {
  border: 2px solid #ffc41e;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

@media (max-width: 1269px) {
  .how-help__item-img {
    width: 110px;
    height: 110px;
  }
  .how-help__item-img img {
    height: 60%;
    width: 60%;
  }
}

.how-help__item-text {
  width: 166px;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #474747;
  margin: 24px 0 0 0;
}

@media (max-width: 1269px) {
  .how-help__item-text {
    width: 140px;
    font-size: 14px;
    line-height: 20px;
  }
}

@media (max-width: 1023px) {
  .how-help__item-text {
    margin: 24px 13px 0 13px;
  }
}

.give-home {
  background: #e5e5e5;
}

.give-home__title {
  margin: 0 auto;
  height: 140px;
  text-align: center;
}

.give-home__title img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

@media (max-width: 1023px) {
  .give-home__title img {
    width: 100%;
  }
}

@media (max-width: 1269px) {
  .give-home__title img {
    height: 96px;
  }
}

@media (max-width: 1023px) {
  .give-home__title img {
    height: 62px;
  }
}

.give-home__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.give-home__item {
  width: 389px;
  margin: 0 0 0 97px;
}

@media (max-width: 1269px) {
  .give-home__item {
    width: 275px;
    font-size: 24px;
  }
}

@media (max-width: 1023px) {
  .give-home__item {
    width: 190px;
    font-size: 20px;
    margin: 0 0 0 47px;
  }
}

.give-home__item-title {
  font-weight: 600;
  font-size: 28px;
  line-height: 24px;
  margin: 68px 0 20px 0;
}

@media (max-width: 1269px) {
  .give-home__item-title {
    margin: 61px 0 4px 0;
    height: 64px;
    font-size: 24px;
  }
}

@media (max-width: 1023px) {
  .give-home__item-title {
    margin: 40px 0 4px 0;
    height: 64px;
    font-size: 20px;
  }
}

.give-home__item-text {
  font-size: 16px;
  line-height: 140%;
}

@media (max-width: 1023px) {
  .give-home__item-text {
    font-size: 14px;
  }
}

.give-home__animals-title {
  font-weight: 300;
  font-size: 28px;
  line-height: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin: 72px 0 32px 0;
}

@media (max-width: 1296px) {
  .give-home__animals-title {
    margin: 48px 0 4px 0;
  }
}

.animal__card {
  width: 368px;
  height: 695px;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #d6d6d6;
  margin: 0 0 44px 0;
}

@media (max-width: 1023px) {
  .animal__card {
    margin: 22px auto;
  }
}

@media (max-width: 1023px) {
  .animal {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.animal__card-wrapper {
  margin: 16px;
}

.animal__name {
  font-weight: 500;
  font-size: 22px;
  line-height: 20px;
  padding: 8px 0 10px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-bottom: 1px solid #d6d6d6;
}

.animal__age {
  font-weight: 500;
  line-height: 20px;
  color: #6b6b6b;
  padding: 8px 0 6px 0;
}

.animal__discription {
  font-weight: 500;
  line-height: 20px;
  height: 130px;
}

.animal__button {
  width: 209px;
  height: 42px;
  background: #fbc832;
  border-radius: 58px;
  text-align: center;
  margin: 0 auto;
}

.animal__button-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  color: #242424;
}

.animal__button-2 {
  margin: 17px auto 0;
  width: 296px;
  height: 42px;
  border: 2px solid #ffc41e;
  border-radius: 58px;
  text-align: center;
}

.animal__button-2-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  color: #242424;
}

.animal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1145px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.give-home__show-all {
  display: block;
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  color: #ad7f00;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  align-items: center;
  text-align: center;
}

@media (max-width: 1269px) {
  .give-home__show-all {
    margin: -36px 0 0 0;
  }
}

@media (max-width: 1023px) {
  .give-home__show-all {
    margin: -10px 0 0 0;
  }
}

.give-home__swow-all__icon {
  padding: 11px 16px 0;
}

.give-home__links {
  padding: 65px 0 76px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 1269px) {
  .give-home__links {
    padding: 48px 0 74px 0;
  }
}

.give-home__help-quickly {
  font-size: 18px;
  line-height: 24px;
  max-width: 583px;
}

@media (max-width: 1269px) {
  .give-home__help-quickly {
    font-size: 16px;
    max-width: 515px;
  }
}

@media (max-width: 1023px) {
  .give-home__help-quickly {
    font-size: 14px;
    max-width: 380px;
  }
}

.give-home__list-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.give-home__icon {
  border: 2px solid #ffc41e;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  width: 49px;
  height: 49px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 16px;
}

.moneyhelp__image {
  margin: 0 auto;
  height: 126px;
  margin: 30px 0 40px 0;
}

@media (max-width: 1269px) {
  .moneyhelp__image {
    height: 96px;
  }
}

@media (max-width: 1023px) {
  .moneyhelp__image {
    height: 64px;
  }
}

.moneyhelp__image img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}

@media (max-width: 1269px) {
  .moneyhelp__column {
    width: 275px;
  }
}

.moneyhelp__title {
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media (max-width: 1269px) {
  .moneyhelp__title {
    font-size: 24px;
  }
}

@media (max-width: 1023px) {
  .moneyhelp__title {
    font-size: 20px;
  }
}

.moneyhelp__text {
  margin: 0 auto;
  padding: 24px 0 40px 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  max-width: 758px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

@media (max-width: 1269px) {
  .moneyhelp__text {
    font-size: 16px;
    max-width: 530px;
    padding: 16px 0 40px 0;
    font-size: 14px;
  }
}

@media (max-width: 1023px) {
  .moneyhelp__text {
    font-size: 14px;
    max-width: 360px;
  }
}

.money-help__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 0 0 68px 0;
}

@media (max-width: 1269px) {
  .money-help__row {
    padding: 0 0 24px 0;
  }
}

.column-money__title {
  font-weight: 300;
  font-size: 28px;
  line-height: 24px;
  padding: 0 0 24px 0;
}

@media (max-width: 1269px) {
  .column-money__title {
    font-size: 24px;
  }
}

@media (max-width: 1023px) {
  .column-money__title {
    font-size: 20px;
  }
}

.column-money__text {
  font-size: 16px;
  line-height: 140%;
}

@media (max-width: 1023px) {
  .column-money__text {
    font-size: 14px;
    max-width: 240px;
  }
}

.column-money__text span {
  font-weight: 700;
}

.column-money__button {
  margin: 24px 0 0 0;
}

.button__yellow-223 {
  width: 223px;
  height: 42px;
  display: inline-block;
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
}

.bring-eat {
  background: #e5e5e5;
  padding: 36px 0 0 0;
}

.bring-eat__body {
  margin: 0 auto;
  max-width: 680px;
  padding: 16px 0 0 0;
}

@media (max-width: 1269px) {
  .bring-eat__body {
    max-width: 481px;
    padding: 0;
  }
}

@media (max-width: 1023px) {
  .bring-eat__body {
    max-width: 400px;
  }
}

.bring-eat__image {
  height: 126px;
}

@media (max-width: 1269px) {
  .bring-eat__image {
    height: 96px;
  }
}

@media (max-width: 1023px) {
  .bring-eat__image {
    height: 64px;
  }
}

.bring-eat__image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.bring-eat__title {
  font-weight: 600;
  font-size: 28px;
  line-height: 24px;
  margin: 24px 0 0 0;
}

@media (max-width: 1269px) {
  .bring-eat__title {
    font-size: 24px;
  }
}

@media (max-width: 1023px) {
  .bring-eat__title {
    font-size: 20px;
  }
}

.bring-eat__text {
  font-size: 16px;
  line-height: 140%;
  padding: 24px 0 16px 0;
}

@media (max-width: 1023px) {
  .bring-eat__text {
    font-size: 14px;
  }
}

.bring-eat__text span {
  font-weight: 700;
}

.bring-eat__link {
  margin: 16px 0 72px 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  text-decoration: underline;
  color: #ad7f00;
  display: inline-block;
}

@media (max-width: 1269px) {
  .bring-eat__link {
    margin: 16px 0 58px 0;
  }
}

.transport {
  background: #e5e5e5;
}

.transport__image {
  height: 126px;
  margin: 0 auto;
}

@media (max-width: 1269px) {
  .transport__image {
    height: 96px;
  }
}

@media (max-width: 1023px) {
  .transport__image {
    height: 64px;
  }
}

.transport__image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.transport__body {
  max-width: 680px;
  margin: 0 auto;
}

@media (max-width: 1269px) {
  .transport__body {
    max-width: 481px;
  }
}

@media (max-width: 1023px) {
  .transport__body {
    max-width: 400px;
  }
}

.transport__title {
  font-weight: 600;
  font-size: 28px;
  line-height: 24px;
  margin: 40px 0 0;
}

@media (max-width: 1023px) {
  .transport__title {
    font-size: 20px;
  }
}

.tansport__text {
  font-size: 16px;
  line-height: 140%;
  margin: 24px 0;
}

@media (max-width: 1023px) {
  .tansport__text {
    font-size: 14px;
  }
}

.transport__button {
  margin: 0 0 82px 0;
}

@media (max-width: 1269px) {
  .transport__button {
    margin: 0 0 76px 0;
  }
}

.volunteering {
  background: #e5e5e5;
}

.volunteering__image {
  margin: 0 auto;
  height: 106px;
}

@media (max-width: 1269px) {
  .volunteering__image {
    height: 96px;
  }
}

@media (max-width: 1023px) {
  .volunteering__image {
    height: 64px;
  }
}

.volunteering__image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.volunteering__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1269px) {
  .volunteering__body {
    margin: 44px 0 0 0;
  }
}

.volunteering__column {
  position: relative;
  width: 50%;
}

.volunteering__square {
  background: #ffc41e;
  width: 621px;
  height: 521px;
  position: absolute;
  right: 334px;
}

@media (max-width: 1269px) {
  .volunteering__square {
    height: 390px;
    right: 290px;
  }
}

@media (max-width: 1023px) {
  .volunteering__square {
    height: 300px;
    right: 250px;
  }
}

.volunteering__title {
  margin: 113px 0 24px 0;
  font-weight: 600;
  font-size: 28px;
  line-height: 24px;
}

@media (max-width: 1269px) {
  .volunteering__title {
    margin: 3px 0 24px 0;
    font-size: 24px;
  }
}

@media (max-width: 1023px) {
  .volunteering__title {
    font-size: 20px;
  }
}

.volunteering__text {
  font-size: 16px;
  line-height: 140%;
  max-width: 466px;
}

@media (max-width: 1269px) {
  .volunteering__text {
    max-width: 323px;
  }
}

@media (max-width: 1023px) {
  .volunteering__text {
    max-width: 220px;
    font-size: 14px;
  }
}

.volunteering__button {
  margin: 24px 0 162px 0;
}

@media (max-width: 1269px) {
  .volunteering__button {
    margin: 24px 0 41px 0;
  }
}

.volunteering__img {
  border: 28px solid #ffc41e;
  border-radius: 50%;
  position: absolute;
  right: 100px;
  top: 0;
}

@media (max-width: 1269px) {
  .volunteering__img {
    width: 348px;
    height: 348px;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    border: 21px solid #ffc41e;
  }
}

@media (max-width: 1023px) {
  .volunteering__img {
    width: 267px;
    height: 267px;
    border: 16px solid #ffc41e;
  }
}

.news {
  max-width: 780px;
  margin: 0 auto;
}

@media (max-width: 1269px) {
  .news {
    width: 619px;
    margin: 0 auto;
  }
}

@media (max-width: 1023px) {
  .news {
    width: 425px;
  }
}

.news__title {
  font-weight: 600;
  font-size: 28px;
  line-height: 24px;
  text-align: center;
  margin: 54px 0 0 0;
}

@media (max-width: 1269px) {
  .news__title {
    margin: 36px 0 26px 0;
    font-size: 24px;
  }
}

@media (max-width: 1023px) {
  .news__title {
    margin: 24px 0 25px 0;
  }
}

.news__img {
  margin: 0 35px 0 0;
}

@media (max-width: 1269px) {
  .news__img {
    margin: 5px 56px 7px 0;
  }
}

.news__text {
  font-size: 16px;
  line-height: 140%;
  max-width: 603px;
  margin: auto 0;
}

@media (max-width: 1269px) {
  .news__text {
    max-width: 433px;
  }
}

@media (max-width: 1023px) {
  .news__text {
    max-width: 304px;
    font-size: 14px;
    margin: 0 0 30px 0;
  }
}

.news__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 40px 0 0 0;
}

@media (max-width: 1269px) {
  .news__column {
    width: 619px;
    margin: 0 auto;
  }
}

@media (max-width: 1269px) {
  .news__column img {
    height: 130px;
    width: 130px;
  }
}

@media (max-width: 1023px) {
  .news__column img {
    height: 104px;
    width: 104px;
  }
}

.news__allnews {
  font-weight: 500;
  font-size: 20px;
  color: #ad7f00;
  line-height: 40px;
  text-decoration: underline;
  margin: 24px 0 53px 0;
  display: inline-block;
}

@media (max-width: 1269px) {
  .news__allnews {
    margin: 16px 0 36px 0;
  }
}

@media (max-width: 1023px) {
  .news__allnews {
    margin: 0 0 24px 0;
  }
}

.about-us {
  background: #e5e5e5;
}

.about-us__body {
  max-width: 680px;
  margin: 0 auto;
}

@media (max-width: 1269px) {
  .about-us__body {
    width: 481px;
  }
}

@media (max-width: 1023px) {
  .about-us__body {
    width: 446px;
  }
}

.about-us__title {
  font-weight: 600;
  font-size: 28px;
  line-height: 24px;
  padding: 56px 0 24px 0;
  text-align: center;
}

@media (max-width: 1269px) {
  .about-us__title {
    font-size: 24px;
    padding: 48px 0 24px 0;
  }
}

@media (max-width: 1269px) {
  .about-us__title {
    font-size: 20px;
  }
}

.about-us__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

@media (max-width: 1269px) {
  .about-us__text {
    font-size: 16px;
  }
}

@media (max-width: 1023px) {
  .about-us__text {
    font-size: 14px;
  }
}

.abuot-us__contacts-title {
  font-size: 22px;
  line-height: 26px;
  padding: 24px 0;
}

@media (max-width: 1023px) {
  .abuot-us__contacts-title {
    font-size: 18px;
    padding: 24px 0 16px 0;
  }
}

.about-us__contacts {
  font-size: 16px;
  line-height: 140%;
}

@media (max-width: 1269px) {
  .about-us__contacts {
    font-size: 14px;
  }
}

.about-us__call {
  font-size: 16px;
  line-height: 140%;
  padding: 40px 0 16px 0;
}

@media (max-width: 1269px) {
  .about-us__call {
    padding: 32px 0 24px 0;
  }
}

.about-us__list-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.link-icon__vk {
  border: 2px solid #ffc41e;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 49px;
  height: 49px;
  border-radius: 50%;
  display: block;
  text-align: center;
  margin: 0 32px 54px 0;
}

.link-icon__vk img {
  padding: 16px 0 0 0;
}

.link-icon__in {
  border: 2px solid #ffc41e;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 49px;
  height: 49px;
  border-radius: 50%;
  display: block;
  text-align: center;
}

.link-icon__in img {
  padding: 9px 0 0 0;
}

.footer__image {
  background: url(/img/footer/361641.png) center no-repeat;
  height: 741px;
  background-size: cover;
  max-width: 1920px;
  position: relative;
}

.footer__square {
  background: #322d1e;
  height: 521px;
  width: 357px;
  position: absolute;
  bottom: 119px;
  left: 0;
}

.footer__circle {
  width: 521px;
  height: 521px;
  border-radius: 50%;
  background: #322d1e;
  position: absolute;
  bottom: 119px;
  left: 94px;
}
