// Обнуление
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}
/*--------------------*/
//Шрифты

@font-face {
	font-family: "Gilroy";
	src: url("../fonts/Gilroy-Light.eot");
	src: local("Gilroy Light"), local("Gilroy-Light"),
		url("../fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Gilroy-Light.woff2") format("woff2"), url("../fonts/Gilroy-Light.woff") format("woff"),
		url("../fonts/Gilroy-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Gilroy";
	src: url("../fonts/Gilroy-Regular.eot");
	src: local("Gilroy Regular"), local("Gilroy-Regular"),
		url("../fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff"),
		url("../fonts/Gilroy-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Gilroy";
	src: url("../fonts/Gilroy-Medium.eot");
	src: local("Gilroy Medium"), local("Gilroy-Medium"),
		url("../fonts/Gilroy-Medium.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff"),
		url("../fonts/Gilroy-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Gilroy";
	src: url("../fonts/Gilroy-Semibold.eot");
	src: local("Gilroy Semibold"), local("Gilroy-Semibold"),
		url("../fonts/Gilroy-Semibold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Gilroy-Semibold.woff2") format("woff2"), url("../fonts/Gilroy-Semibold.woff") format("woff"),
		url("../fonts/Gilroy-Semibold.ttf") format("truetype");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Gilroy";
	src: url("../fonts/Gilroy-Bold.eot");
	src: local("Gilroy Bold"), local("Gilroy-Bold"), url("../fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff"),
		url("../fonts/Gilroy-Bold.ttf") format("truetype");
	font-weight: bold;
	font-style: normal;
}

/*-------*/
body {
	font-family: "Gilroy";
	font-weight: normal;
	font-style: normal;
	color: #242424;
	font-size: 16px;
}
.wrapper {
	max-width: 1920px;
	margin: 0 auto;
}
.header {
	background: #e5e5e5;
}
.header__body {
	background: url(../img/header/dog.png) top right no-repeat;
	min-height: 834px;
}
.container {
	max-width: 1150px;
	margin: 0 auto;
}

.header__menu {
	display: flex;
	justify-content: space-between;
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
}
.menu__list {
	display: flex;
}
.menu__link {
	margin: 54px 30px 0 0;
}
.menu__list-info {
	display: flex;
}
.menu__list-icon {
	display: flex;
	margin: 0 97px 0 0;
}
.menu__icon {
	display: block;
	width: 49px;
	height: 49px;
	border: 2px solid #fff;
	border-radius: 50%;
	margin: 39px 28px 0 0;
	position: relative;
}
.icon-vk img {
	position: absolute;
	bottom: 11px;
	right: 8px;
}
.icon-in img {
	position: absolute;
	bottom: 9px;
	left: 9px;
}

.header__title {
	font-weight: bold;
	font-size: 72px;
	line-height: 87px;
	margin: 91px 0 2px 0;
}
.button__yellow {
	background: #fbc832;
	border-radius: 58px;
	width: 182px;
	height: 42px;
	text-align: center;
}
.btn {
	font-weight: 500;
	font-size: 20px;
	line-height: 40px;
	color: #000;
}
.header__icon {
	border-radius: 50%;
	border: 2px solid #ffffff;
	display: block;
}
h1 {
	color: #6b6b6b;
	font-weight: 300;
	font-size: 16px;
	line-height: 18px;
}

.header__text {
	margin: 12px 0 0 0;
	font-weight: 600;
	color: #474747;
	line-height: 140%;
	max-width: 659px;
}
.header__text-yellow {
	margin: 43px 0 44px 0;
	font-weight: 600;
	font-size: 24px;
	line-height: 29px;
	color: #c78100;
	max-width: 428px;
}
.description {
	display: flex;
}
.discription__animals {
	background: #fac832;
	height: 521px;
	width: 44.27%;
	border-radius: 0 260px 260px 0;
	position: relative;
	margin: 54px 0 75px 0;
}
.discription__animals-dog {
	width: 100%;
	height: 100%;
	background: url(../img/discription/Ellipse.png) center right no-repeat;
	position: relative;
	right: 28px;
}
.discription__animals-cat {
	width: 245px;
	height: 245px;
	border-radius: 50%;
	border: #fac832 solid 8px;
	background: url(../img/discription/Ellipse39.png) no-repeat;
	position: absolute;
	bottom: -20px;
	right: -29px;
}
.discription__content {
	width: 466px;
	margin: 0 0 0 94px;
	box-sizing: border-box;
}
.discription__title {
	margin: 128px 0 28px 0;
	font-weight: 600;
	font-size: 28px;
	line-height: 120%;
	color: #c78100;
	text-align: center;
}
.discription__text {
	line-height: 140%;
}
.how-help {
	background: #e5e5e5;
}
.container {
}
.how-help__content {
	text-align: center;
}
.how-help__title {
	display: block;
	padding: 80px 0 47px 0;
	font-weight: 300;
	font-size: 28px;
	line-height: 24px;
}
.how-help__row {
	display: flex;
	justify-content: space-between;
	padding: 0 0 79px 0;
}
.how-help__item {
}
.how-help__item-img {
	border: 2px solid #ffc41e;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
}
.how-help__item-text {
	width: 166px;
	font-weight: 500;
	font-size: 16px;
	line-height: 140%;
	text-align: center;
	color: #474747;
	margin: 24px 0 0 0;
}
.give-home {
	background: #e5e5e5;
}
.give-home__title {
	background: url(../img/home/Frame61.svg) top center no-repeat;
	margin: 0 auto;
	min-height: 150px;
}

.give-home__row {
	display: flex;
	justify-content: center;
}
.give-home__item {
	width: 389px;
	margin: 0 0 0 97px;
}
.give-home__item-title {
	font-weight: 600;
	font-size: 28px;
	line-height: 24px;
	margin: 68px 0 20px 0;
}
.give-home__item-text {
	font-size: 16px;
	line-height: 140%;
}
.give-home__animals-title {
	font-weight: 300;
	font-size: 28px;
	line-height: 24px;
	align-items: center;
	text-align: center;
	margin: 72px 0 32px 0;
}
.animal__card {
	width: 368px;
	height: 695px;
	background: #fff;
	border-radius: 5px;
	border: 1px solid #d6d6d6;
	margin: 0 0 44px 0;
}
.animal__card-wrapper {
	margin: 16px;
}
.animal__img {
}
.animal__name {
	font-weight: 500;
	font-size: 22px;
	line-height: 20px;
	padding: 8px 0 10px 0;
	align-items: center;
	text-align: center;
	border-bottom: 1px solid #d6d6d6;
}
.animal__age {
	font-weight: 500;
	line-height: 20px;
	color: #6b6b6b;
	padding: 8px 0 6px 0;
}
.animal__discription {
	font-weight: 500;
	line-height: 20px;
	height: 130px;
}
.animal__button {
	width: 209px;
	height: 42px;
	background: #fbc832;
	border-radius: 58px;
	text-align: center;
	margin: 0 auto;
}
.animal__button-link {
	font-weight: 500;
	font-size: 20px;
	line-height: 40px;
	color: #242424;
}
.animal__button-2 {
	margin: 17px auto 0;
	width: 296px;
	height: 42px;
	border: 2px solid #ffc41e;
	border-radius: 58px;
	text-align: center;
}
.animal__button-2-link {
	font-weight: 500;
	font-size: 20px;
	line-height: 40px;
	color: #242424;
}
.animal {
	display: flex;
	flex-wrap: wrap;
	max-width: 1145px;
	justify-content: space-between;
}
.give-home__show-all {
	display: block;
	font-weight: 500;
	font-size: 20px;
	line-height: 40px;
	color: #ad7f00;
	align-items: center;
	text-decoration-line: underline;
	align-items: center;
	text-align: center;
}
.give-home__swow-all__icon {
	padding: 11px 16px 0;
}
.give-home__links {
	padding: 65px 0 76px 0;
	display: flex;
	justify-content: center;
}
.give-home__help-quickly {
	font-size: 18px;
	line-height: 24px;
	max-width: 583px;
}
.give-home__list-links {
	display: flex;
}
.give-home__icon {
	border: 2px solid #ffc41e;
	box-sizing: border-box;
	border-radius: 50%;
	width: 49px;
	height: 49px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 16px;
}
.moneyhelp {
}
.moneyhelp__image {
	background: url(../img/manihelp/headicon.svg) center no-repeat;
	margin: 0 auto;
	min-height: 196px;
}
.moneyhelp__title {
	font-style: normal;
	font-weight: 600;
	font-size: 28px;
	line-height: 24px;
	align-items: center;
	text-align: center;
}
.moneyhelp__text {
	margin: 0 auto;
	padding: 24px 0 40px 0;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	max-width: 758px;
	align-items: center;
	text-align: center;
}
.money-help__row {
	display: flex;
	justify-content: space-evenly;
	padding: 0 0 68px 0;
}
.column-money__title {
	font-weight: 300;
	font-size: 28px;
	line-height: 24px;
	padding: 0 0 24px 0;
}
.column-money__text {
	font-size: 16px;
	line-height: 140%;
	span {
		font-weight: 700;
	}
}
.column-money__button {
	margin: 24px 0 0 0;
}
.button__yellow-223 {
	width: 223px;
	height: 42px;
	display: inline-block;
	font-weight: 500;
	font-size: 20px;
	line-height: 40px;
}
.bring-eat {
	background: #e5e5e5;
}
.bring-eat__body {
	margin: 0 auto;
	max-width: 680px;
}
.bring-eat__image {
	height: 198px;
	background: url(../img/bring-eat/Frame89.svg) center no-repeat;
}
.bring-eat__title {
	font-weight: 600;
	font-size: 28px;
	line-height: 24px;
	margin: 40px 0 0 0;
}
.bring-eat__text {
	font-size: 16px;
	line-height: 140%;
	padding: 24px 0 0 0;
	span {
		font-weight: 700;
	}
}
.bring-eat__link {
	margin: 16px 0 32px 0;
	font-weight: 500;
	font-size: 20px;
	line-height: 40px;
	text-decoration: underline;
	color: #ad7f00;
	display: inline-block;
}
.transport {
	background: #e5e5e5;
}
.transport__image {
	height: 206px;
	margin: 0 auto;
	background: url(../img/transport/Group27.svg) center no-repeat;
}
.transport__body {
	max-width: 680px;
	margin: 0 auto;
}
.transport__title {
	font-weight: 600;
	font-size: 28px;
	line-height: 24px;
}
.tansport__title {
	font-size: 16px;
	line-height: 140%;
	margin: 24px 0;
}
.transport__button {
	margin: 0 0 82px 0;
}
.volunteering {
	background: #e5e5e5;
}
.volunteering__image {
	margin: 0 auto;
	height: 106px;
	background: url(../img/volunteering/Group317.svg) center no-repeat;
}
.volunteering__body {
	display: flex;
	height: 571px;
}
.volunteering__column {
	position: relative;
	width: 50%;
}
.volunteering__square {
	background: #ffc41e;
	width: 621px;
	height: 521px;
	position: absolute;
	right: 334px;
}
.volunteering__title {
	margin: 113px 0 24px 0;
	font-weight: 600;
	font-size: 28px;
	line-height: 24px;
}
.volunteering__text {
	//padding: 24px 0;
	font-size: 16px;
	line-height: 140%;
	max-width: 466px;
}
.volunteering__button {
	margin: 24px 0 0 0;
}

volunteering__image-dog {
	height: 100%;
	width: 100%;
}
.volunteering__img {
	border: 28px solid #ffc41e;
	border-radius: 50%;
	position: absolute;
	right: 100px;
	top: 0;
}
.news {
	max-width: 780px;
	margin: 0 auto;
}
.news__title {
	font-weight: 600;
	font-size: 28px;
	line-height: 24px;
	text-align: center;
	margin: 54px 0 0 0;
}
.news__img {
	margin: 40px 35px 0 0;
}
.news__text {
	font-size: 16px;
	line-height: 140%;
	max-width: 603px;
	margin: 40px 0 0 0;
}
.news__column {
	display: flex;
}
.news__allnews {
	font-weight: 500;
	font-size: 20px;
	color: #ad7f00;
	line-height: 40px;
	text-decoration: underline;
	margin: 24px 0 53px 0;
	display: inline-block;
}
.about-us {
	background: #e5e5e5;
}
.about-us__body {
	max-width: 680px;
	margin: 0 auto;
}
.about-us__title {
	font-weight: 600;
	font-size: 28px;
	line-height: 24px;
	padding: 56px 0 24px 0;
	text-align: center;
}
.about-us__text {
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
}
.abuot-us__contacts-title {
	font-size: 22px;
	line-height: 26px;
	padding: 24px 0;
}
.about-us__contacts {
	font-size: 16px;
	line-height: 140%;
}
.about-us__call {
	font-size: 16px;
	line-height: 140%;
	padding: 40px 0 16px 0;
}
.about-us__list-links {
	display: flex;
}
.link-icon {
}
.link-icon__vk {
	border: 2px solid #ffc41e;
	box-sizing: border-box;
	width: 49px;
	height: 49px;
	border-radius: 50%;
	display: block;
	text-align: center;
	margin: 0 32px 54px 0;
	img {
		padding: 16px 0 0 0;
	}
}
.link-icon__in {
	border: 2px solid #ffc41e;
	box-sizing: border-box;
	width: 49px;
	height: 49px;
	border-radius: 50%;
	display: block;
	text-align: center;
	img {
		padding: 9px 0 0 0;
	}
}
